@{
    Layout = "_layout";
}
@using CW19.Models.Entity

@model User;

<div>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form asp-action="Update">
        <h3>ویرایش اطلاعات</h3>
        <br><br>
        <input type="hidden" name="Id" value="@Model.Id">
        <br><br>
        <br><br>
        <input type="hidden" name="RegisterDate" value="@Model.RegisterDate" placeholder="RegisterDate" id="RegisterDate">
        <br><br>
        <label name="FirstName" for="FirstName">نام </label>
        <br><br>
        <input type="text" value="@Model.FirstName" name="FirstName" placeholder="FirstName" id="FirstName">
        <br><br>

        <label name="LastName" for="LastName">نام خانوادگی</label>
        <br><br>
        <input type="text" value="@Model.LastName" name="LastName" placeholder="LastName" id="LastName">
        <br><br>


        <label name="BirthDate" for="BirthDate">تاریخ تولد </label>
        <br><br>
        <input type="date" value="@Model.BirthDate" name="BirthDate" placeholder="BirthDate" id="BirthDate">
        <br><br>
        <label name="NationalCode" for="NationalCode">کدملی</label>
        <br><br>
        <input type="text" value="@Model.NationalCode" name="NationalCode" placeholder="NationalCode" id="NationalCode">
        <br><br>
        <label name="Phone" for="Phone">موبایل</label>
        <br><br>
        <input type="tel" value="@Model.Phone" name="Phone" placeholder="Phone" id="Phone">
        <br><br>
        <label name="MembershipType" for="MembershipType">اشتراک کاربری</label>
        <br><br>


        <label for="MembershipType">
        دسته بندی
        </label>
        <select name="membership">
            <option value="">انتخاب کنید</option>

            <option value="">@Model.MembershipType</option>

            <option value="1">طلایی</option>
            <option value="2">نقره ای</option>
            <option value="3">برنزی</option>
        </select>


        <br><br>
        <label name="Gender" for="Gender">جنسیت</label>
        <br><br>
        <select name="gender">
            <option value="">انتخاب کنید</option>
            <option value="">@Model.Gender</option>
            <option value="0">مرد</option>
            <option value="1">زن</option>
        </select>
        <br><br>
        <input value="ثبت تغیرات" class="btn btn-success" asp-action="Update" asp-controller="User" name="Update" type="submit">
        <br><br>
    </form>
</div>